@for $i from 1 through 12 {
  .size-1-col-#{$i} {
    float: left;
    width: (100 / 12) * $i + %;
  }

  .size-1-offset-#{$i - 1} {
    margin-left: (100 / 12) * ($i - 1) + %;
  }
}

@media (min-width: $step-1-width) {
  @for $i from 1 through 12 {
    .size-2-col-#{$i} {
      float: left;
      width: (100 / 12) * $i + %;
    }

    .size-2-offset-#{$i - 1} {
      margin-left: (100 / 12) * ($i - 1) + %;
    }
  }
}

@media (min-width: $step-2-width) {
  @for $i from 1 through 12 {
    .size-3-col-#{$i} {
      float: left;
      width: (100 / 12) * $i + %;
    }

    .size-3-offset-#{$i - 1} {
      margin-left: (100 / 12) * ($i - 1) + %;
    }
  }
}

@media (min-width: $step-3-width) {
  @for $i from 1 through 12 {
    .size-4-col-#{$i} {
      float: left;
      width: (100 / 12) * $i + %;
    }

    .size-4-offset-#{$i - 1} {
      margin-left: (100 / 12) * ($i - 1) + %;
    }
  }
}

.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}

// Hiding
@media (min-width: $step-1-width) {
  .size-min-1-hide {
    display: none;
  }
}

@media (max-width: $step-1-width - 1) {
  .size-0-hide {
    display: none;
  }
}