html
  head
    title 30
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" type="text/css" href="libs.css")
    link(rel="stylesheet" type="text/css" href="app.css")
  body
    include header/tpl.pug
    .divider
    section.project
