$accent-color: #fdc702;
$accent-color-hover: #000000;
$secondary-color: #bbbbbb;
$step-1-width: 768px;
$step-2-width: 1024px;
$step-3-width: 1280px;
$step-4-width: 1440px;
$step-5-width: 1920px;

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  color: $secondary-color;
  font-family: Larsseit;
  line-height: 1.375;
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  font-size: 16px;
  padding: 2.4rem;
  margin: auto;

  @media (min-width: $step-1-width) {
    padding: 2.4rem 4.8rem;
  }
  @media (min-width: $step-2-width) {
    font-size: 18px;
    width: 900px;
  }
  @media (min-width: $step-3-width) {
    width: 1140px;
  }
  @media (min-width: $step-4-width) {
    width: 1260px;
  }
  @media (min-width: $step-5-width) {
    font-size: 20px;
    width: 1380px;
  }
}

.divider {
  background-color: $secondary-color;
  height: 0.1rem;
  opacity: 0.4;
}

.project {
  padding-top: 20px;
}