.clock {
  .title {
    margin-bottom: 4rem;
  }

  .description, .description-2 .part {
    @media (min-width: $step-1-width) {
      max-width: 32.5rem;
    }
    @media (min-width: $step-2-width) {
      max-width: 44rem;
    }
  }

  .previews {
    margin-top: 4rem;
    @media (min-width: $step-2-width) {
      margin-top: 5rem;
    }
    @media (min-width: $step-4-width) {
      margin-top: 6.5rem;
    }

    img {
      height: 30rem;
      @media (min-width: $step-1-width) {
        height: 36rem;
      }
      @media (min-width: $step-2-width) {
        height: 31rem;
      }
      @media (min-width: $step-3-width) {
        height: 41rem;
      }
      @media (min-width: $step-4-width) {
        height: 45rem;
      }
      @media (min-width: $step-5-width) {
        height: 50rem;
      }
    }
  }

  .label {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    @media (min-width: $step-2-width) {
      font-size: 1.4rem;
      margin-bottom: 5rem;
    }
    @media (min-width: $step-4-width) {
      margin-bottom: 6.5rem;
    }
    @media (min-width: $step-5-width) {
      font-size: 1.6rem;
      margin-bottom: 6.5rem;
    }
  }

  .front {
    @media (max-width: $step-1-width - 1) {
      text-align: center;
    }
  }

  .carousel-container {
    &.watch-face {
      height: 18.5rem;
      @media (min-width: $step-1-width) {
        display: none;
      }
    }

    &.screen-shots {
      height: 34rem;
      margin-bottom: 5rem;
    }

    .img {
      height: inherit;
    }
  }

  .watch-face.list {
    padding-top: 5rem;
    .img {
      display: inline-block;
      text-align: center;
      margin-bottom: 2.5rem;
      width: 33.3%;
      @media (min-width: $step-2-width) {
        margin-bottom: 0;
        width: 25%;
        &:last-child {
          padding-right: 12%;
        }
      }
      img {
        @media (min-width: $step-3-width) {
          width: 25.5rem;
        }
      }
    }
    @media (max-width: $step-1-width - 1) {
      display: none;
    }
    @media (min-width: $step-2-width) {
      text-align: right;
    }
  }

  .carousel {
    position: absolute;
    left: 0;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .watch-face {
    margin-top: 4rem;
    margin-bottom: 7rem;

    .img {
      width: 18.5rem;
      @media (max-width: $step-1-width - 1) {
        padding: 0 25px;
      }
    }
  }


  .screen-shots .img {
    padding: 0 1.5rem;
    width: 18.5rem;

    img {
      width: 100%;
    }
  }

  .description-2 {
    margin: 0 -2.5rem;
    .part {
      box-sizing: border-box;
      padding: 0 2.5rem;
      margin-bottom: 4rem;
    }
  }
}