header.header.clear-fix
  .size-2-col-6
    img.logo(src="files/images/ic-logo.svg")
  .size-2-col-6
    .personal-info.size-4-col-8
      | I’m Nazar Kondratyuk, a graphic & interface designer, illustrator. Here are some of my projects.
    .contacts.size-4-col-4
      | Say 
      a.mail(href="mailto:hello@threezero.org") hello
      .phone 380975868888